# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Others
UPGRADE-2.2.md
UPGRADE-2.3.md
UPGRADE-2.4.md
UPGRADE.md
LICENSE

# Idea
.idea

# Other
web
