{% extends "SwifterFrontBundle:DevTest:primitive.html.twig" %}

{% block pages %}
    <div>List of pages:</div>
{% endblock %}

{% block clocks %}
    It ticks...
{% endblock %}

{% block story %}
    1980s...
{% endblock %}

{% block footer %}
    Copyright very cool footer.
{% endblock %}