{% extends "SwifterFrontBundle:DevTest:primitive.html.twig" %}

{% block pages %}
    <div>List of pages:</div>
{% endblock %}

{% block clocks %}
    It ticks...
{% endblock %}


{% block footer %}
    Copyright very cool footer.
{% endblock %}