{% extends "SwifterFrontBundle:DevTest:base.html.twig" %}

{% block pages %}
    {{ parent() }}
    {% if params %}
        <ul>
            {% for param in params %}
                <li>{{ param.uri }}</li>
            {% endfor %}
        </ul>
    {% else %}
        No uris have been found.
    {% endif %}
{% endblock %}