{% extends "SwifterFrontBundle:DevTest:base2.html.twig" %}

{% block title %}
    {% for param in params %}
        <h3><b>{{ param.uri }}</b></h3>
    {% else %}
        No uris have been found.
    {% endfor %}
{% endblock %}