{% extends "SwifterFrontBundle:DevTest:base2.html.twig" %}

{% block title %}
    {{ parent() }}
    {% for param in params %}
        <h3>{{ param.uri }}</h3>
    {% else %}
        No uris have been found.
    {% endfor %}
{% endblock %}