<!DOCTYPE HTML>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ TITLE }}</title>
    </head>

    <body>
        <section>
            {{ MAIN_CONTENT }}
        </section>
    </body>
</html>
