{% extends "SwifterAdminBundle::loggedin_skeleton.html.twig" %}

{%  block main_content %}
    <div class="box-content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Uri</th>
                <th>Template</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: pages">
            <tr>
                <td data-bind="text: id"></td>
                <td data-bind="text: name" class="center"></td>
                <td data-bind="text: uri" class="center"></td>
                <td data-bind="text: templateTitle" class="center"></td>
                <td>
                    <a class="btn btn-info edit" href="javascript:;"><i class="icon-edit icon-white"></i>Edit</a>
                    <a class="btn btn-danger delete" href="javascript:;"><i class="icon-trash icon-white"></i>Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a id="add-block-button" class="btn btn-success" href="javascript:;"><i class="icon-plus-sign icon-white"></i>Add</a>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        var Page = function(data) {
            this.id = ko.observable();
            this.name = ko.observable();
            this.uri = ko.observable();
            this.templateTitle = ko.observable();

            if (data) {
                this.update(data);
            }
        }

        Page.prototype.update = function(data) {
            this.id(data.id);
            this.name(data.name);
            this.uri(data.uri);
            this.templateTitle(data.template.title);
        };

        var PageModel = function(pages) {
            var self = this;

            self.pages = ko.observableArray(ko.utils.arrayMap(pages, function(data) {
                return new Page(data);
            }));
        };

        $.get('{{ path('admin_retrieve_pages') }}')
            .done(function( data ) {
                ko.applyBindings(new PageModel(data));
            }
        );
    </script>
{% endblock %}