{% extends "SwifterAdminBundle::loggedin_skeleton.html.twig" %}

{%  block main_content %}
    <div class="box-content">
        <form class="form-inline" data-bind="with: page">
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input id="name" class="input-xlarge focused" type="text" data-bind="value: name"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="uri">Uri</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">/swifter/</span>
                        <input id="uri" type="text" size="16" data-bind="value: uri"/>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="parent">Parent Page</label>
                <div class="controls">
                    <select id="parent" data-rel="chosen" data-bind="options: $parent.availablePages,
                        optionsText: 'name',
                        optionsValue: 'id',
                        value: parent,
                        optionsCaption: 'Choose...'">
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="template">Template</label>
                <div class="controls">
                    <select id="template" data-rel="chosen">
                        <option value="1">Main</option>
                    </select>
                </div>
            </div>
        </form>
        <a id="add-block-button" class="btn btn-success" href="javascript:;" data-bind="click: savePage"><i class="icon-plus-sign icon-white"></i>Add</a>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        var Page = function(data) {
            this.name = ko.observable();
            this.uri = ko.observable();
            this.parent = ko.observable();

            if (data) {
                this.update(data);
            }
        }

        Page.prototype.update = function(data) {
            this.name(data.name);
            this.uri(data.uri);
            this.parent(data.parent.id)
        };

        var PageModel = function(data) {
            var self = this;

            self.page = ko.observable();
            self.page(new Page(data));

            self.savePage = function() {
                $.ajax({
                    type: 'POST',
                    url: '{{ path('admin_save_block') }}',
                    data: ko.toJSON(self.page())
                });
            };

            self.availablePages = ko.observableArray([
                {id: 1, name: 'Main'}, {id: 2, name: 'News'}, {id: 3, name: 'News First'}
            ]);
        };

        var pageModel = new PageModel();
        ko.applyBindings(pageModel);

    </script>
{% endblock %}